@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(17, 49, 46);
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.container > div {
  height: 210px;
  background: url('./images/heroPencils.jpg');
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  /* background-size: auto 100%; */
  /* width: 100vw; */
  /* height: auto; */
}

/* min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  background-size: auto 100%;
  width: 100vw;
  height: auto; */